$gap:       80px;

//Colors
$black:     #000;
$gray:      #888;


$gray-lg:   #b8b8b1;
$pink:      #f20c6c;
$pink-hov:  #ff2681;
$blue:      #00aacc;
$beige:     #f2f2e9;
$white:     #fff;

//font-famaly
$museo: 'Museo', sans-serif;

// breakpoint
$bp-xs: 320px;
$bp-s: 640px;
$bp-m: 768px;
$bp-l: 1024px;
$bp-xl: 1280px;


//FONT-SIZE
$f-size:    14px;
$f-size-xxl:46px;

