.header{
    display: flex;
    position: relative;
    max-width: 1175px;
    width: 100%;
    z-index: 2;
    padding-top: 43px;
    justify-content: space-between;
    align-items: center;
    .logo{
        width: 189px;
        display: block;
    }
    @media (max-width: 767px){
        display: block;
        padding-top: 30px;
        .links{
            margin: 0;
            justify-content: space-between;
            &__li{
                padding: 14px 0;
                border: none;
                background: none;

            }
            &__a{
                color:#000;
                font-size: 14px;
            }
        }
    }
}
.links{
    display: flex;
    color: #fff;
    font-size: 18px;
    line-height: 1;
    flex: 0 0 auto;
    align-items: baseline;
    justify-content: center;
    margin: 0 12% 0 0;
    &__li{
        padding: 14px 27px;
        margin: 0 7px;
    }
    .download{
        border:2px solid #fff;
        border-radius: 10px;
        background: rgba(255, 255, 255, .2);
        margin: 0;
    }
    &__a{
        color:#fff;
    }

}
